html {
	background-color: black;
}

h1, h2, h3 {
  font-family:"Arial Black", Gadget, sans-serif;
  margin-left: 20px;
}

#titlelink {
  text-decoration:none;
  display:inline;
}

#title {
 color:blue;
 text-shadow:1px 1px 0px white;
 display:inline;
 margin-left: 10px;
}

h2 {
  margin-top:5px;
  color:rgb(96, 11, 11);
}

header {
  border-bottom: 2px solid darkred; 
}

a {
  font-family:Arial, sans-serif;
}

ul>li {
 display: inline;
 padding-right:30px; 
}

footer {
  width: 20%;
  margin-left:auto;
  margin-right:auto;
}

article {
  padding: 20px;
  background-color: #f8f8f8;
  margin:5px;
  overflow: auto;
}

div#content {
  overflow: auto;
  width: 100%;  
}

ul.nav {
 background-color: #ddd;
 float:right;
}

ul.bottomnav {
  background-color: none;
}

ul.nav>li>a {
	color:black;
	/*font-weight:bold;*/
	text-decoration:none;
}

ul.nav>li>a:hover {
	color:#777;
	text-decoration:underline;
}

ul.bottomnav>li>a {
	color:white;
  font-size:60%;
}

ul.bottomnav>li>a:hover {
	color:#777;
}

.halfpagearticle {
  margin-right: 3%;
  padding:10px;
  width: 45%;
}

.imagecaption {
  font-size: 60%;
  display:block;
  float: right;
}

#poweredby {
  float:right;
}